.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
}

li {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
}

li > img {
    max-width: 250px;
    align-self: center;
}

li > strong {
    font-size: 16px;
    line-height: 20px;
    color: #333;
    margin-top: 5px;
}

li > span {
    font-size: 21px;
    font-weight: bold;
    margin: 5px 0 20px;
}

li > button {
    background: #7159c1;
    color: #fff;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
    margin-top: auto;
    display: flex;
    align-items: center;
}

li > button:hover {
    background-color: #5d46a8;
}

.products button > div {
    display: flex;
    align-items: center;
    padding: 12px;
    background: rgba(0, 0, 0, 0.1);
}

button > span {
    flex: 1;
    text-align: center;
    font-weight: bold;
}